{% extends 'SystemController.backbone.base.html.twig' %}
{% block moduleCSS %}
{% endblock %}
{% block body %}
    <div id="content-container"></div>
{% endblock %}
{% block moduleJS %}
    <script src="{{ Response.meta.SystemController.static }}/js/util.js"></script>
    <script src="{{ Response.meta.SystemController.static }}/js/bizzybone.js"></script>
    <script src="{{ Response.meta.SystemController.static }}/js/globalHelpers.js"></script>
    <script src="{{ Response.meta.ModuleRule.static }}/js/helpers/moduleRulesHelpers.js" type="text/javascript"></script>
    <script src="{{ Response.meta.ModuleRule.static }}/js/models/moduleRulesSettings.js" type="text/javascript"></script>
    <script src="{{ Response.meta.ModuleRule.static }}/js/views/moduleRulesSettings.js" type="text/javascript"></script>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $.fn.datepicker.defaults.autoclose = true;

        $(document).ready(function() {
            var getData, metaData, conditionOptions;
            //var baseCollection, baseView;

            // Precompile all the relevant templates
            _.each({
                moduleRuleListMain: $('#hb-module-rule-list-main'),
                moduleRuleListItem: $('#hb-module-rule-list-item'),
                moduleRuleEditModal: $('#hb-module-rule-edit-modal'),
                moduleRuleEditModalCondition: $('#hb-module-rule-edit-modal-condition')
            }, hbCompileTemplate);

            getData = hbInitData().data;
            metaData = hbInitData().meta.ModuleRule;

            moduleRuleModal = new ModuleRulesModalView({conditionOptions: metaData.conditionOptions});

            if(_.isArray(getData)) {
                baseCollection = new ModuleRuleList();
                baseCollection.reset(getData, {silent: true});
                baseView = new ModuleRulesMainView({collection: baseCollection, el: $('#content-container')});
                baseView.render();
            }
        });
    </script>
{% endblock %}