{% extends 'SystemController.backbone.base.html.twig' %}

{% block moduleCSS %}
    <link rel="Stylesheet" type="text/css" href="{{ Response.meta.SystemController.static }}/css/typeahead.css"/>
{% endblock %}
{% block body %}
    <div id="modal-node"></div>
    <div id="content-container"></div>
{% endblock %}
{% block moduleJS %}
    <script src="{{ Response.meta.SystemController.static }}/js/typeahead.bundle.min.js"></script>
    <script src="{{ Response.meta.SystemController.static }}/js/util.js"></script>
    <script src="{{ Response.meta.SystemController.static }}/js/bizzybone.js"></script>
    <script src="{{ Response.meta.Inspector.static }}/js/models/inspectors.js"></script>
    <script src="{{ Response.meta.Inspector.static }}/js/views/inspectors.js"></script>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            var getData, meta, baseModel, baseCollection, baseView;

            // Precompile all the relevant templates
            _.each({
                inspectorListMain: '#hb-inspector-list-main',
                inspectorListItem: '#hb-inspector-list-item',
                inspectorModalAddUser: '#hb-inspector-modal-adduser'
            }, hbCompileTemplate);
            
            getData = hbInitData().data;
            
            modalAddInspectorUser = new ModalAddInspectorUser();
            

            if(_.isArray(getData)) {
                
                baseCollection = new InspectorList(_.map(getData, function(inspectorData) {
                    return new InspectorModel(inspectorData);
                }));
                
                
                baseView = new InspectorListMainView({collection: baseCollection, el: $('#content-container')});
                baseView.render();
                
                return;

            }
            else if(_.isObject(getData)) {
                baseModel = new CategoryModel(getData);
                baseView = new CategoryView({el: $('#content-container'), model: baseModel});
                baseView.render();
            }
        });
    </script>
{% endblock %}