{% extends 'SystemController.backbone.base.html.twig' %}

{% block moduleCSS %}
    <link rel="Stylesheet" type="text/css" href="{{ Response.meta.SystemController.static }}/css/typeahead.css"/>
{% endblock %}
{% block body %}
    <div id="modal-node"></div>
    <div id="content-container"></div>
{% endblock %}
{% block moduleJS %}
    <script src="{{ Response.meta.SystemController.static }}/js/typeahead.bundle.min.js"></script>
    <script src="{{ Response.meta.SystemController.static }}/js/util.js"></script>
    <script src="{{ Response.meta.SystemController.static }}/js/bizzybone.js"></script>
{#    <script src="{{ Response.meta.Inspection.static }}/js/helpers/groupHelpers.js"></script>#}
    <script src="{{ Response.meta.Inspection.static }}/js/models/types.js"></script>
    <script src="{{ Response.meta.Inspection.static }}/js/views/types.js"></script>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            var getData, meta, baseModel, baseCollection, baseView;

            // Precompile all the relevant templates
            _.each({
                typeListMain: '#hb-type-list-main',
                typeListItem: '#hb-type-list-item',
                typeModelEdit: '#hb-group-modal-editgroup',
                typeModelAdd: '#hb-group-modal-addgroup'
                {#groupListItem: '#hb-group-list-item',
                groupInsideMain: '#hb-group-inside-main',
                groupInsideUser: '#hb-group-inside-user',
                
                groupModalEditUser: '#hb-group-modal-edituser'#}
            }, hbCompileTemplate);
            
            getData = hbInitData().data;
            
            
             modalEditType = new ModalEditType();
             modalAddType = new ModalAddType();
            //modalEditUser = new ModalEditGroupUser();

            if(_.isArray(getData)) {
                
                baseCollection = new TypesList(_.map(getData, function(typeData) {
                    return new TypesModel(typeData);
                }));
                
                baseView = new TypesListMainView({collection: baseCollection, el: $('#content-container')});
                baseView.render();
                
                return;

            }
            else if(_.isObject(getData)) {
                baseModel = new GroupModel(getData);
                baseView = new GroupView({el: $('#content-container'), model: baseModel});
                baseView.render();
            }
        });
    </script>
{% endblock %}