{% extends 'SystemController.backbone.base.html.twig' %}
<script type="text/javascript">console.log("dfgg");</script>
{% block moduleCSS %}
    <link rel="Stylesheet" type="text/css" href="{{ Response.meta.SystemController.static }}/css/typeahead.css"/>
{% endblock %}
{% block body %}
    <div id="modal-node"></div>
    <div id="content-container"></div>
{% endblock %}
{% block moduleJS %}
    <script src="{{ Response.meta.SystemController.static }}/js/typeahead.bundle.min.js"></script>
    <script src="{{ Response.meta.SystemController.static }}/js/util.js"></script>
    <script src="{{ Response.meta.SystemController.static }}/js/bizzybone.js"></script>
    {#    <script src="{{ Response.meta.Inspection.static }}/js/helpers/groupHelpers.js"></script>#}
    <script src="{{ Response.meta.Inspection.static }}/js/models/limitation.js"></script>
    <script src="{{ Response.meta.Inspection.static }}/js/views/limitation.js"></script>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            var getData, meta, baseModel, baseCollection, baseView;

            // Precompile all the relevant templates
            _.each({
                categoryListMain: '#hb-category-list-main',
                categoryListItem: '#hb-category-list-item',
            }, hbCompileTemplate);

            getData = hbInitData().data;

            if(_.isArray(getData)) {

                baseCollection = new LimitationList(_.map(getData, function(categoryData) {
                    return new LimitationModel(categoryData);
                }));

                baseView = new LimitationListMainView({collection: baseCollection, el: $('#content-container')});
                baseView.render();

                return;

            }

        });
    </script>
{% endblock %}